extends layout

block content
  div(id="combobox")
    input(id="input" type="text" name="name" autocomplete="off")
    div(id="box")
      ul(style="list-style-type:none")
  script(src="/javascripts/index.js")